/* Custom Styles */
body {
  margin-top: 50px;
  background-color: #f4f4f4;
}

.status-indicator {
  font-weight: bold;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
}

.status-indicator.changing {
  background-color: #9e9e9e;
}

.status-indicator.running {
  background-color: #4caf50;
}

.status-indicator.not-running {
  background-color: #f44336;
}

.ipfs-indexes td.cid {
  font-family: 'Courier New', monospace;
}

.cid-monospace {
  font-family: 'Courier New', Courier, monospace; /* Monospaced font for CIDs */
  font-size: 0.9rem; /* Smaller font size for CIDs */
}
